# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
2131,2141,2143,2146,2164,2165,2168,2169,2170,2171,2172,2173,2174,2175,2176,2199,2200,2201,2203,2204,2206,2208,2209,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248
endrun
#Implemented final cuts based on cut stability
#Preshower energy cut & vertex cut & nhits on GEM track cut & E/p cut & Optics Validity Cut & Track X^2/ndf
globalcut bb.ps.e>0.0&&bb.gem.track.nhits>=3&&bb.gem.track.chi2ndf[0]<=15&&sbs.hcal.e>0.025
exp GEn  
kin GEN2
data_map_name ../config/data_map.cfg
kinematic_name ../config/All_Kinematic.cfg
SBS_field 100
pass pass2
#For W2 cut
W2_low -1.0 #take out min cut?
W2_high 4.0
MAXNTRACKS 1000
targ He3
e_method 2
