# One config file to rule them all! Handles the basic information we need and uses data_map.cfg and All_kinematic.cfg for any other info. More useful parameter conditions can be made or the global cut can be changed here. 
2008,2009,2010,2011,2016,2017,2018,2093,2095,2096,2097,2115,2116,2117,2118
endrun
#Implemented final cuts based on cut stability
#Preshower energy cut & vertex cut & nhits on GEM track cut & E/p cut & Optics Validity Cut & Track X^2/ndf
globalcut bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.27&&bb.gem.track.nhits>=3&&bb.gem.track.chi2ndf[0]<=15&&sbs.hcal.e>0.025
exp GEn  
kin GEN2
data_map_name ../config/data_map.cfg
kinematic_name ../config/All_Kinematic.cfg
SBS_field 100
pass pass2
#For W2 cut
W2_low 0.5
W2_high 1.5
MAXNTRACKS 1000
targ H2
e_method 2
